header{
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 110%;
}

.nav a{
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    transition: 0.4s;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    background-color: #ccc;
    border-color: black;
}

.logo{
    display: flex;
    padding: 15px;
    font-size: 200%;
    font-weight: bold;
}

.leftnav{
    display: flex;
    gap: 20px;
}

.sherbimet{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: center;
}

.box{
    width: 290px;
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-style: bold;
    font-size: 200%;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
     transition: 0.4s;
}

.box:hover{
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.pytja{
    display: flex;
    margin: 20px;
    padding-left: 30px;
}
